
# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# postgresql url
DATABASE_URL=postgresql://user:xxxxxxxx@xxxxxxxxx:5432/dbname
